openapi: 3.2.0
info:
  title: Terna Fees API
  version: '2026-09-23'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-23: 10 operation(s) read from 35 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Terna has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 40
    documentation: -30
    pages-with-code: 35
    pages-read: 35
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-23'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.terna.it/docs/read/Access_Token
  - https://developer.terna.it/docs/read/How_to_make_a_request
  - https://developer.terna.it/docs/apis_catalog/market/Aste_FCR
  - https://developer.terna.it/docs/read/apis_catalog/load/Total
  - https://developer.terna.it/docs/read/apis_catalog/load/Market
  - https://developer.terna.it/docs/read/apis_catalog/market/Costs
  - https://developer.terna.it/docs/read/apis_catalog/market/Prices
  - https://developer.terna.it/docs/read/apis_catalog/load/Total_Load
  - https://developer.terna.it/docs/read/apis_catalog/market/Aste_FCR
  - https://developer.terna.it/docs/read/apis_catalog/market/Quantity
  - https://developer.terna.it/docs/read/apis_catalog/load/Market_Load
  - https://developer.terna.it/docs/read/apis_catalog/fees/Daily_Prices
  - https://developer.terna.it/docs/read/apis_catalog/generation/Hydric
  - https://developer.terna.it/docs/read/apis_catalog/fees/Monthly_Summary
  - https://developer.terna.it/docs/read/apis_catalog/fees/Zonal_Exchanges
  - https://developer.terna.it/docs/read/apis_catalog/load/Industry_Sector
  - https://developer.terna.it/docs/read/apis_catalog/load/PeakValley_Load
  - https://developer.terna.it/docs/read/apis_catalog/load/Services_Sector
  - https://developer.terna.it/docs/read/apis_catalog/market/Load_Forecast
  - https://developer.terna.it/docs/read/apis_catalog/market/Transit_Limits
  - https://developer.terna.it/docs/read/apis_catalog/market/Accepted_Offers
  - https://developer.terna.it/docs/read/apis_catalog/market/Transit_Margins
  - https://developer.terna.it/docs/read/apis_catalog/fees/Preliminary_Prices
  - https://developer.terna.it/docs/read/apis_catalog/market/Submitted_Offers
  - https://developer.terna.it/docs/apis_catalog/market/Forecast_Transit_Limits
  - https://developer.terna.it/docs/read/apis_catalog/generation/Energy_Balance
  - https://developer.terna.it/docs/read/apis_catalog/generation/Actual_Generation
  - https://developer.terna.it/docs/read/apis_catalog/generation/Generation_Plants
  - https://developer.terna.it/docs/read/apis_catalog/load/PeakValley_Load_Details
  - https://developer.terna.it/docs/read/apis_catalog/generation/Installed_Capacity
  - https://developer.terna.it/docs/read/apis_catalog/fees/Commercial_Balance_Prices
  - https://developer.terna.it/docs/read/apis_catalog/generation/Thermoelectric_Heat
  - https://developer.terna.it/docs/read/apis_catalog/load/Demand_coverage_by_source
  - https://developer.terna.it/docs/read/apis_catalog/load/electrical_energy_by_type
  - https://developer.terna.it/docs/read/apis_catalog/market/Forecast_Transit_Limits
servers:
- url: https://api.terna.it
security:
- apiKey: []
tags:
- name: Fees
paths:
  /fees/v1.0/monthly-summary:
    get:
      operationId: get_fees_v1_0_monthly_summary
      tags:
      - Fees
      summary: GET /fees/v1.0/monthly-summary
      x-source: https://developer.terna.it/docs/read/apis_catalog/fees/Monthly_Summary
      parameters:
      - name: dataType
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeesV10MonthlySummaryResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'GET' 'https://api.terna.it/fees/v1.0/monthly-summary?dateFrom=10/05/2022&dateTo=21/05/2022&dataType=Orario' --header 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following input. Date from: 10/05/2022, date to: 21/05/2022, data type: Orario\",\n \"status\": \"Completed\"\n },\n \"monthly_summary\": [\n {\n \"publication_date\": \"2022-06-01 19:00:00\",\n \"r"
components:
  schemas:
    GetFeesV10MonthlySummaryResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        monthly_summary:
          type: array
          items:
            type: object
            properties:
              publication_date:
                type: string
                format: date-time
              reference_date:
                type: string
                format: date-time
              data_type:
                type: string
              date_tz:
                type: string
              macrozone:
                type: string
              zonal_aggregate_unbalance_MWh:
                type: string
              zonal_aggregate_sign:
                type: string
              exchanges_MWh:
                type: string
              foreign_MWh:
                type: string
              base_price_EURxMWh:
                type: string
              incentive_component_EURxMWh:
                type: string
              unbalance_price_EURxMWh:
                type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
