openapi: 3.1.0
info:
  title: Terna API
  version: '2026-09-23'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-23: 10 operation(s) read from 35 public documentation page(s) (each
    operation names its page in x-source). This is not the provider''s published contract; Terna has published no machine-readable contract that
    the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 40
    documentation: -30
    pages-with-code: 35
    pages-read: 35
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-23'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.terna.it/docs/read/Access_Token
  - https://developer.terna.it/docs/read/How_to_make_a_request
  - https://developer.terna.it/docs/apis_catalog/market/Aste_FCR
  - https://developer.terna.it/docs/read/apis_catalog/load/Total
  - https://developer.terna.it/docs/read/apis_catalog/load/Market
  - https://developer.terna.it/docs/read/apis_catalog/market/Costs
  - https://developer.terna.it/docs/read/apis_catalog/market/Prices
  - https://developer.terna.it/docs/read/apis_catalog/load/Total_Load
  - https://developer.terna.it/docs/read/apis_catalog/market/Aste_FCR
  - https://developer.terna.it/docs/read/apis_catalog/market/Quantity
  - https://developer.terna.it/docs/read/apis_catalog/load/Market_Load
  - https://developer.terna.it/docs/read/apis_catalog/fees/Daily_Prices
  - https://developer.terna.it/docs/read/apis_catalog/generation/Hydric
  - https://developer.terna.it/docs/read/apis_catalog/fees/Monthly_Summary
  - https://developer.terna.it/docs/read/apis_catalog/fees/Zonal_Exchanges
  - https://developer.terna.it/docs/read/apis_catalog/load/Industry_Sector
  - https://developer.terna.it/docs/read/apis_catalog/load/PeakValley_Load
  - https://developer.terna.it/docs/read/apis_catalog/load/Services_Sector
  - https://developer.terna.it/docs/read/apis_catalog/market/Load_Forecast
  - https://developer.terna.it/docs/read/apis_catalog/market/Transit_Limits
  - https://developer.terna.it/docs/read/apis_catalog/market/Accepted_Offers
  - https://developer.terna.it/docs/read/apis_catalog/market/Transit_Margins
  - https://developer.terna.it/docs/read/apis_catalog/fees/Preliminary_Prices
  - https://developer.terna.it/docs/read/apis_catalog/market/Submitted_Offers
  - https://developer.terna.it/docs/apis_catalog/market/Forecast_Transit_Limits
  - https://developer.terna.it/docs/read/apis_catalog/generation/Energy_Balance
  - https://developer.terna.it/docs/read/apis_catalog/generation/Actual_Generation
  - https://developer.terna.it/docs/read/apis_catalog/generation/Generation_Plants
  - https://developer.terna.it/docs/read/apis_catalog/load/PeakValley_Load_Details
  - https://developer.terna.it/docs/read/apis_catalog/generation/Installed_Capacity
  - https://developer.terna.it/docs/read/apis_catalog/fees/Commercial_Balance_Prices
  - https://developer.terna.it/docs/read/apis_catalog/generation/Thermoelectric_Heat
  - https://developer.terna.it/docs/read/apis_catalog/load/Demand_coverage_by_source
  - https://developer.terna.it/docs/read/apis_catalog/load/electrical_energy_by_type
  - https://developer.terna.it/docs/read/apis_catalog/market/Forecast_Transit_Limits
servers:
- url: https://api.terna.it
paths:
  /fees/v1.0/monthly-summary:
    get:
      operationId: get_fees_v1_0_monthly_summary
      tags:
      - Fees
      summary: GET /fees/v1.0/monthly-summary
      x-source: https://developer.terna.it/docs/read/apis_catalog/fees/Monthly_Summary
      parameters:
      - name: dataType
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeesV10MonthlySummaryResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'GET' 'https://api.terna.it/fees/v1.0/monthly-summary?dateFrom=10/05/2022&dateTo=21/05/2022&dataType=Orario' --header\
          \ 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following input. Date from:\
          \ 10/05/2022, date to: 21/05/2022, data type: Orario\",\n \"status\": \"Completed\"\n },\n \"monthly_summary\": [\n {\n \"publication_date\"\
          : \"2022-06-01 19:00:00\",\n \"r"
  /generation/v2.0/{v20id}:
    get:
      operationId: get_generation_v2_0_v20id
      tags:
      - Generation
      summary: GET /generation/v2.0/actual-generation
      x-source: https://developer.terna.it/docs/read/apis_catalog/generation/Actual_Generation
      parameters:
      - name: v20id
        in: path
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGenerationV20V20IdResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://api.terna.it/generation/v2.0/actual-generation?dateFrom=23/04/2022&dateTo=23/04/2022'\
          \ --header 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following input. Date\
          \ from: 23/04/2022, date to: 23/04/2022\",\n \"status\": \"Completed\"\n },\n \"actual_generation\": [\n {\n \"date\": \"2022-04-23\
          \ 23:00:00\",\n \"date_tz\": \"Europe/Rome"
        collapsed_from: 6 example path(s) differing only at v20Id
  /ifees/v1.0/market/{marketid}:
    get:
      operationId: get_ifees_v1_0_market_marketid
      tags:
      - Ifees
      summary: GET /ifees/v1.0/market/commercial-balance-prices
      x-source: https://developer.terna.it/docs/read/apis_catalog/fees/Commercial_Balance_Prices
      parameters:
      - name: marketid
        in: path
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIfeesV10MarketMarketidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'GET' 'https://api.terna.it/ifees/v1.0/market/commercial-balance-prices?dateFrom=10/05/2022&dateTo=21/05/2022' --header\
          \ 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following input. Date from:\
          \ 10/05/2022, date to: 21/05/2022\",\n \"status\": \"Completed\"\n },\n \"commercial_balance_prices\": [\n {\n \"publication_date\"\
          : \"2022-05-17 17:45:00\",\n \"date_tim"
        collapsed_from: 4 example path(s) differing only at marketId
  /load/v2.0/{v20id}:
    get:
      operationId: get_load_v2_0_v20id
      tags:
      - Load
      summary: GET /load/v2.0/demand-coverage-by-source
      x-source: https://developer.terna.it/docs/read/apis_catalog/load/Demand_coverage_by_source
      parameters:
      - name: v20id
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoadV20V20IdResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET https://api.terna.it/load/v2.0/demand-coverage-by-source?year=<year>®ion=<region> \n --header\
          \ 'Authorization:Bearer <OAuth Token>'\n Response \n{\n \"result\": {\n \"message\": \"string\",\n \"status\": \"string\"\n },\n \"\
          demand_coverage_by_source\": [\n {\n \"year\": \"string\",\n \"region\": \"string\",\n \"source\": \"string\",\n \"coverage_GWh\": \"\
          string\"\n }\n ]\n} \n version 4 as of 12 months ago by Ali"
        collapsed_from: 10 example path(s) differing only at v20Id
  /market/v1.0/aste-fcr:
    get:
      operationId: get_market_v1_0_aste_fcr
      tags:
      - Market
      summary: GET /market/v1.0/aste-fcr
      x-source: https://developer.terna.it/docs/apis_catalog/market/Aste_FCR
      parameters:
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: direction
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketV10AsteFcrResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://api.terna.it/market/v1.0/aste-fcr?dateFrom=05/12/2025&direction=UP' --header 'Authorization:\
          \ <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following input. Market Date: 05/12/2025\"\
          ,\n \"status\": \"Completed\"\n },\n \"aste_fcr\": [\n {\n \"date\": \"2025-12-05 00:00:00\",\n \"session\": \"FCR\",\n \"zone\": \"\
          Calabria\",\n \"direction\": \"UP\",\n \"price\": "
  /market/v1.0/input/{inputid}:
    get:
      operationId: get_market_v1_0_input_inputid
      tags:
      - Market
      summary: GET /market/v1.0/input/forecast-load
      x-source: https://developer.terna.it/docs/read/apis_catalog/market/Load_Forecast
      parameters:
      - name: inputid
        in: path
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      - name: sessionType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketV10InputInputidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://api.terna.it/market/v1.0/input/forecast-load?dateFrom=22/11/23&dateTo=22/11/23&sessionType=MSD1'\
          \ --header 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"string\",\n \"status\": \"string\"\n },\n \"forecast_load\"\
          : [\n {\n \"reference_date\": \"string\",\n \"date_tz\": \"string\",\n \"offset\": \"string\",\n \"zone\": \"string\",\n \"session_type\"\
          : \"string\",\n \"load_MW\": \"st"
        collapsed_from: 4 example path(s) differing only at inputId
  /market/v1.0/output/{outputid}:
    get:
      operationId: get_market_v1_0_output_outputid
      tags:
      - Market
      summary: GET /market/v1.0/output/accepted-offers
      x-source: https://developer.terna.it/docs/read/apis_catalog/market/Accepted_Offers
      parameters:
      - name: outputid
        in: path
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      - name: direction
        in: query
        required: false
        schema:
          type: string
      - name: sessionType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketV10OutputOutputidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://api.terna.it/market/v1.0/output/accepted-offers?dateFrom=22/11/23&dateTo=22/11/23&sessionType=MSD1&direction=UP'\
          \ --header 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"string\",\n \"status\": \"string\"\n },\n \"accepted_offers\"\
          : [\n {\n \"reference_date\": \"string\",\n \"date_tz\": \"string\",\n \"offset\": \"string\",\n \"zone\": \"string\",\n \"session_type\"\
          : \"string"
        collapsed_from: 5 example path(s) differing only at outputId
  /public-api/access-token:
    get:
      operationId: get_public_api_access_token
      tags:
      - Public Api
      summary: GET /public-api/access-token
      x-source: https://developer.terna.it/docs/read/How_to_make_a_request
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location 'https://api.terna.it/public-api/access-token'  --header 'Content-Type: application/x-www-form-urlencoded' \
          \ --data-urlencode 'grant_type=client_credentials'  --data-urlencode 'client_id=your_API_Key'  --data-urlencode 'client_secret=your_API_Secret'\n\
          \ Calling our APIs \n JavaScript - Fetch \nvar myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer n3fujtnubkgx48rhvcf7y"
    post:
      operationId: post_public_api_access_token
      tags:
      - Public Api
      summary: POST /public-api/access-token
      x-source: https://developer.terna.it/docs/read/Access_Token
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPublicApiAccessTokenResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -H \"Content-Type: application/x-www-form-urlencoded\" \"https://api.terna.it/public-api/access-token\" -X POST -d \"client_id=5d4rscEcpyxywu4jdoiWerhsl\"\
          \ -d \"client_secret=Iy4c6tuErp\" -d \"grant_type=client_credentials\"\n Definition of the response structure \n Key Description \n\
          \ access_token \n  Your new Access Token \n token_type \n  We use Bearer token \n expires_in \n The number of second before the to"
  /transparency/v1.0/{v10id}:
    get:
      operationId: get_transparency_v1_0_v10id
      tags:
      - Transparency
      summary: GET /transparency/v1.0/getactualgeneration
      x-source: https://developer.terna.it/docs/read/apis_catalog/generation/Actual_Generation
      parameters:
      - name: v10id
        in: path
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransparencyV10V10IdResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://api.terna.it/transparency/v1.0/getactualgeneration?dateFrom=2/3/2019&dateTo=20/3/2019&type=Wind&type=Hydro'\
          \ --header 'Authorization: <token>' \n Response \n {\n \"result\": {\n \"message\": \"Operation completed for the following request:\
          \ {$and:[{DATA_ORA:{$gte:\\\"2019-03-02\\\", $lte:\\\"2019-03-20\\\"}},{DATA_ORA:{$lt:\\\"2023-07-31\\\"}}], TIPO:{$in:[ \\\"Wind\\\"\
          , \\\"Hydro\\\" ]}}\""
        collapsed_from: 7 example path(s) differing only at v10Id
components:
  schemas:
    GetFeesV10MonthlySummaryResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        monthly_summary:
          type: array
          items:
            type: object
            properties:
              publication_date:
                type: string
                format: date-time
              reference_date:
                type: string
                format: date-time
              data_type:
                type: string
              date_tz:
                type: string
              macrozone:
                type: string
              zonal_aggregate_unbalance_MWh:
                type: string
              zonal_aggregate_sign:
                type: string
              exchanges_MWh:
                type: string
              foreign_MWh:
                type: string
              base_price_EURxMWh:
                type: string
              incentive_component_EURxMWh:
                type: string
              unbalance_price_EURxMWh:
                type: string
    GetGenerationV20V20IdResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        actual_generation:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              date_tz:
                type: string
              date_offset:
                type: string
              actual_generation_GWh:
                type: string
              primary_source:
                type: string
    GetIfeesV10MarketMarketidResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        commercial_balance_prices:
          type: array
          items:
            type: object
            properties:
              publication_date:
                type: string
                format: date-time
              date_time:
                type: string
                format: date-time
              date_tz:
                type: string
              macrozone:
                type: string
              zone:
                type: string
              sell_price_EURxMWh:
                type: string
              buy_price_EURxMWh:
                type: string
    GetLoadV20V20IdResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        demand_coverage_by_source:
          type: array
          items:
            type: object
            properties:
              year:
                type: string
              region:
                type: string
              source:
                type: string
              coverage_GWh:
                type: string
    GetMarketV10AsteFcrResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        aste_fcr:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              session:
                type: string
              zone:
                type: string
              direction:
                type: string
              price:
                type:
                - string
                - 'null'
              quantity:
                type: string
              requirement:
                type: string
    GetMarketV10InputInputidResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        forecast_load:
          type: array
          items:
            type: object
            properties:
              reference_date:
                type: string
              date_tz:
                type: string
              offset:
                type: string
              zone:
                type: string
              session_type:
                type: string
              load_MW:
                type: string
    GetMarketV10OutputOutputidResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        accepted_offers:
          type: array
          items:
            type: object
            properties:
              reference_date:
                type: string
              date_tz:
                type: string
              offset:
                type: string
              zone:
                type: string
              session_type:
                type: string
              type:
                type: string
              direction:
                type: string
              offer:
                type: string
    PostPublicApiAccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
    GetTransparencyV10V10IdResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            message:
              type: string
            status:
              type: string
        actual_generation:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              date_tz:
                type: string
              date_offset:
                type: string
              actual_generation_GWh:
                type: string
              primary_source:
                type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
security:
- apiKey: []
tags:
- name: Fees
- name: Generation
- name: Ifees
- name: Load
- name: Market
- name: Public Api
- name: Transparency
